<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/listing">allListing</a>
          <a class="nav-link" href="/listing/newform">Add new List</a>
        </div>
      </div>
      <div class="navbar-nav">
        <% if(currUser){%>
           <a class="nav-link" href="../user/logout">logout</a>
            <%}%>
          <% if(!currUser){%>
         <a class="nav-link "  href="../user/login">login</a>
          <a class="nav-link" href="../user/signup">signup</a>
       <%}%>
      </div>
    </div>
  </nav>